:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 2000;
  height: 1000;
}

model-viewer {
  width: 2000;
  height: 1000;
  transform: scale(2)
  background-color: transparent;
}
